          /*body*/
body{
  /*margin: 0 0 0 0;*/
  margin-top: -3%;

}
       /*header*/
header{
  font-size: 30px;
  text-align: center;
  color: #CF7A29  ;
  background:#F7EEDE;
  width: 100%;
  height:120px;
  line-height: 100px;
  margin:0 1%;
  }

       /*logo*/
.logo{
  width: 10%;
  height:100px;
  position: absolute;
  left: 2%;
  top: 1%;
}
    /*selectors table*/

    .selectors{
      float: left;
      width: 49%;
      margin:0 1%;
    }

            /*text table*/

    .text{
      float: right;
      width: 48%;
      margin-right: 1%;

    }

    /*box model photo*/

.box_model{
    width:48%;
    float: left;
    margin:1% 1%;
}

      /*border and list table*/

.border{
  float: right;
  width: 48%;
  margin:1% 1%;
}
.border td{
  width:11px;
}


        /*positioning*/
.positioning{
  float: right;
  width: 48%;
  margin:1% 1%;
}

              /*everything else*/

.every{

  float: left;
  width: 48%;
  margin:1% 1%;
}


td{
  padding:0.35%;
  background: #F7EEDE;
  font-size:1.5em;


}
       /*the caption insie the table*/
caption{
  background:#CF7A29;
  font-size:2em;
  text-align: center;


}
